<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#8257E5">
    <title>EasyClean</title>
    <link rel="shortcut icon" href="images/celularEstalando.png">
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/partials/header.css">
    <link rel="stylesheet" href="styles/partials/page-study.css">
    <link rel="stylesheet" href="styles/partials/forms.css">
    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body id="page-study">

    <div id="container">
        <header class="page-header">
            <div class="top-bar-container">
                <a href="/">
                    <img src="images/icons/back.svg" alt="Voltar">
                </a>
                <img src="images/logoSemFundo.png" alt="Proffy">
            </div>


            <div class="header-content">
                <strong>Esses são os profissionais EasyClean</strong>
                <form action="/feedCliente" id="search-teachers">
                    <div class="select-block">
                        <label for="weekday">Dia da Semana</label>
                        <select name="weekday" id="weekday">
                            <option value=""disabled="" hidden>Selecione uma opção</option>
                            {%for weekday in weekdays %}
                            <option value="{{loop.index0}}" {{ "selected" if filters.weekday == loop.index0}}>
                                {{weekday}}
                            </option>
                            {%endfor%}
                        </select>
                    </div>
                    <div class="select-block">
                        <label for="tempo_de">De</label>
                        <input name="tempo_de" id="tempo_de" type="time" value="{{filters.tempo_de}}">
                    </div>
                    <div class="select-block">
                        <label for="tempo_ate">Ate</label>
                        <input name="tempo_ate" id="tempo_ate" type="time" value="{{filters.tempo_ate}}">
                    </div>
                    <button type="submit">Filtrar</button>
                </form>
            </div>
        </header>

        <main>

            {% for Servico in Servicos %}

            <article class="teacher-item">
                <header>
                    <img src="{{Servico.IMG_DIARISTA}}">
                    <div>
                        <strong>{{Servico.NOME}}</strong>
                    </div>
                </header>
                <p>{{Servico.DESCRICAO}}</p>
                <!-- <p>DE {{Servico.TEMPO_DE}}</p>
                <p>ATE {{Servico.TEMPO_ATE}}</p>
                -->
                <footer>
                    <p>Preço/Hora <strong>{{Servico["VALOR"]}}</strong></p>

                    <a href="https://api.whatsapp.com/send?1=pt_BR&phone=55{{Servico.TELEFONE}}&text=Tenho interesse no seu servico {{Servico.name}}" class="button" target="_blank"><img src="images/icons/whatsapp.svg" alt="WhatsApp">Entrar em contato</button>

                    </a>

                    <a onclick="AbreModal(`{{Servico.NOME}}`, `{{Servico.VALOR}}`, `{{Servico.ID}}`, `{{Servico.DISPONIBILIDADE_ID}}`, `{{Servico.DIARISTA_ID}}`)" class="button" data-whatever="@getNumsei"><img src="images/icons/whatsapp.svg" alt="WhatsApp">Contratar</button>

                    </a>
                </footer>

            </article>


            {% endfor %}

            <div id="myModal" class="modal" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Informações do contrato</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                             </button>
                        </div>
                        <form action="/save-contrato" id="salva-contrato" method="POST">
                            <div class="modal-body">

                                <div class="form-group" hidden>
                                    <label for="idCliente" class="col-form-label">Cliente: </label>
                                    <input type="text" class="form-control" name="idCliente" id="idCliente" readonly>
                                </div>

                                <div class="form-group">
                                    <label for="nomeDiarista" class="col-form-label">Diarista:</label>
                                    <input type="text" class="form-control" name="nomeDiarista" id="nomeDiarista" readonly>
                                </div>

                                <div class="form-group" hidden>
                                    <label for="idDiarista" class="col-form-label">Diarista Id:</label>
                                    <input type="text" class="form-control" name="idDiarista" id="idDiarista" readonly>
                                </div>

                                <div class="form-group">
                                    <label for="valorDiarista" class="col-form-label">Valor:</label>
                                    <input type="text" class="form-control" name="valorDiarista" id="valorDiarista" readonly>
                                </div>

                                <div class="form-group" hidden>
                                    <label for="idServico" class="col-form-label">Servico de id:</label>

                                    <input type="text" class="form-control" name="idServico" id="idServico" readonly>
                                </div>

                                <div class="select-block">
                                    <legend class="pagamento">Pagar com a nossa plataforma?
                                        <select name="pagamento" id="pagamento" required >
                                        <option value="1">SIM</option>
                                        <option value="2">NÃO</option>
                                        </select>
                                    </legend>
                                </div>
                                
                            </div>

                            <div class="modal-footer">

                                <button type="submit" class="btn btn-success">Gravar Contrato</button>
                            </div>
                        </form>


                    </div>
                </div>
            </div>

        </main>


    </div>

    <script>
        var idCliente = "{{ Cliente[0] }}";
        var nomeCliente = "{{Cliente[1]}}";

        console.log("Id Cliente " + idCliente + "Nome: " + nomeCliente);


        //document.getElementById("idCliente").value = nome + "   id:" + id;
        function AbreModal(nome, valor, id, servicoId, diaristaId) {

            $("#nomeDiarista").val(nome);
            $("#valorDiarista").val(valor);
            $("#idServico").val(servicoId);
            $("#idDiarista").val(diaristaId);
            $("#idCliente").val(idCliente);

            //console.log(nome + valor + " " + id);
            $("#myModal").modal({
                show: true
            });


            //$("#idCliente").value(id)
        }
    </script>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>