<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#8257E5">
    <title>EasyClean</title>
    <link rel="shortcut icon" href="images/celularEstalando.png">
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/partials/header.css">
    <link rel="stylesheet" href="styles/partials/page-study.css">
    <link rel="stylesheet" href="styles/partials/forms.css">
    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body id="page-study">

    <div id="container">
        <header class="page-header">
            <div class="top-bar-container">
                <a href="/">
                    <img src="images/icons/back.svg" alt="Voltar">
                </a>
                <img src="images/logoSemFundo.png" alt="Proffy">
            </div>


            <div class="header-content">
                <strong>Bem vindo(a) ! Aqui estão seus contratos:
                </strong> <br>
                <form action="/feedDiarista" id="search-teachers">
                    <div class="select-block">
                        <legend class="youAre">Você é:
                            <select name="youAre" id="youAre" required value="{{filters.youAre}}">
                            <option value="1">Diarista</option>
                            <option value="2">Cliente</option>
                            </select>
                        </legend>

                    </div>
                    <div class="select-block">
                        <label for="id">Digite seu id</label>
                        <input name="id" id="id" type="text" value="{{filters.id}}">
                    </div>

                    <button type="submit">Filtrar</button>
                </form>
            </div>
        </header>

        <main>

            {% for Contrato in ContratoDiarista %}

            <article class="teacher-item">
                <header>
                    <img src="{{Contrato.IMG_DIARISTA}}">
                    <div>
                        <strong>Diarista {{Contrato.NOME}} de id: {{Contrato.DIARISTA_ID}}</strong>
                    </div>
                    <div>
                        <strong>Cliente {{Contrato.NOMECLIENTE}} de id: {{Contrato.CLIENTE_ID}}</strong>
                    </div>
                    <img src="{{Contrato.IMG_CLIENTE}}">

                </header>

                <!--<p>DE {{Contrato.TEMPO_DE}}</p>
                <p>ATE {{Contrato.TEMPO_ATE}}</p>!-->
                <footer>
                    <p>Nota Diarista: <strong>{{Contrato["NOTA_DIARISTA"]}}</strong></p>

                    <p>Nota Cliente: <strong>{{Contrato["NOTA_CLIENTE"]}}</strong></p>
                    <a onclick="AbreModal(`{{Contrato.NOME}}`,`{{Contrato.NOMECLIENTE}}`, `{{Contrato.ID}}`,
                     `{{Contrato.CLIENTE_ID}}`, `{{Contrato.DIARISTA_ID}}`,`{{Contrato.DISPONIBILIDADE_ID}}`
                     , `{{Contrato.VALOR}}`, `{{Contrato.NOTA_CLIENTE}}`, `{{Contrato.NOTA_DIARISTA}}`)" class="button"><img src="images/icons/whatsapp.svg" alt="WhatsApp">Dar Nota</button>

                    </a>
                </footer>
                {% endfor %}
            </article>
            <div id="myModal" class="modal" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Informações do contrato</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                 </button>
                        </div>
                        <form action="/update-contrato" id="update-contrato" method="POST">
                            <div class="modal-body">

                                <div class="form-group" hidden>
                                    <label for="idCliente" class="col-form-label">Cliente Id: </label>
                                    <input type="text" class="form-control" name="idCliente" id="idCliente" readonly>
                                </div>

                                <div class="form-group">
                                    <label for="nomeCliente" class="col-form-label">Cliente: </label>
                                    <input type="text" class="form-control" name="nomeCliente" id="nomeCliente" readonly>
                                </div>

                                <div class="form-group">
                                    <label for="nomeDiarista" class="col-form-label">Diarista:</label>
                                    <input type="text" class="form-control" name="nomeDiarista" id="nomeDiarista" readonly>
                                </div>

                                <div class="form-group" hidden>
                                    <label for="idDiarista" class="col-form-label">Diarista Id:</label>
                                    <input type="text" class="form-control" name="idDiarista" id="idDiarista" readonly>
                                </div>

                                <div class="form-group">
                                    <label for="idContrato" class="col-form-label">Contrato de id:</label>
                                    <input type="text" class="form-control" name="idContrato" id="idContrato" readonly>
                                </div>

                                <div class="form-group" hidden>
                                    <label for="idServico" class="col-form-label">Servico de id:</label>
                                    <input type="text" class="form-control" name="idServico" id="idServico" readonly>
                                </div>

                                <div class="form-group">
                                    <label for="valorServico" class="col-form-label">Valor: </label>
                                    <input type="text" class="form-control" name="valorServico" id="valorServico">
                                </div>

                                <div class="form-group">
                                    <label for="notaDiarista" class="col-form-label">Nota da diarista: </label>
                                    <input type="text" class="form-control" name="notaDiarista" id="notaDiarista">
                                </div>

                                <div class="form-group">
                                    <label for="notaCliente" class="col-form-label">Nota do cliente:</label>
                                    <input type="text" class="form-control" name="notaCliente" id="notaCliente">
                                </div>

                                <div class="select-block">
                                    <legend class="pagamento">Pagar com a nossa plataforma?
                                        <select name="pagamento" id="pagamento" required >
                                        <option value="1">SIM</option>
                                        <option value="2">NÃO</option>
                                        </select>
                                    </legend>
                                </div>
                                
        
                            </div>

                            <div class="modal-footer">

               

                                <button type="submit" class="btn btn-success">Atualizar Contrato</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </main>

    </div>

    <script>
        var id = "{{ Cliente[0] }}";

        var nome = "{{Cliente[1]}} ";

        //console.log("Id Cliente " + id + "Nome: " + nome);

        //document.getElementById("idCliente").value = nome + "   id:" + id;

        function AbreModal(nome, nomeCliente, contratoId, clienteId, diaristaId, disponibilidadeId, valor, notaCliente, notaDiarista) {

            console.log("TESTE");
            $("#nomeDiarista").val(nome);
            $("#nomeCliente").val(nomeCliente);
            $("#idServico").val(disponibilidadeId);
            //$("#valorDiarista").val(valor);
            $("#idContrato").val(contratoId);
            $("#idDiarista").val(diaristaId);
            $("#idCliente").val(clienteId);
            console.log(valor);
            $("#valorServico").val(valor);
            $("#notaDiarista").val(notaDiarista);
            $("#notaCliente").val(notaCliente);

            //console.log(nome + valor + " " + id);
            $("#myModal").modal({
                show: true
            });


            //$("#idCliente").value(id)
        }
    </script>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>