<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#8257E5">
    <title>EasyClean</title>
    <link rel="shortcut icon" href="images/celularEstalando.png">
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/partials/page-landing.css">
    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap" rel="stylesheet">
</head>

<body id="page-landing">

    <div id="container">
        <div class="logo-container">
            <img src="images/logoSemFundo.svg" alt="EasyClean">
            <h2>A sua plataforma de Limpeza</h2>
        </div>
        <img class="hero-image" src="images/celularEstalando.png" alt="plataforma de estudos">
        <div class="buttons-container">
            <a class="login" href="/login">
                <img src="images/icons/user.svg" alt="Estudar"> Já possuí cadastro?

            </a>
        </div>
        <div class="buttons-container">
            <a class="feedCliente" href="/feedCliente">
                <img src="images/icons/user.svg" alt="Estudar"> Encontrar Diarista
            </a>

            <a class="Cadastro" href="/Cadastro">
                <img src="images/icons/cleaning.svg" alt="Dar Aulas"> Seja Diarista
            </a>
        </div>
        <p class="total-connections">
            Acesse e descubra a maneira mais rápida de encontrar um profissional de limpeza
        </p>
    </div>

</body>

</html>