<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#8257E5">
    <title>EasyClean</title>
    <link rel="shortcut icon" href="images/celularEstalando.png">
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/partials/page-landing.css">
    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap" rel="stylesheet">
</head>

<body id="page-landing" >
    <header class="page-header">
        <div class="top-bar-container">
            <a href="/">
                <img src="images/icons/back.svg" alt="Voltar">
            </a>
        </div>
    <div id="container">
        <div class="logo-container">
            <img src="images/logoSemFundo.svg" alt="EasyClean">
        </div>
        <div>
        <table id="indicadores" border="1px" cellpadding="5px" cellspacing="0">
           
            <h1>Indicadores</h1>
            <tr> 
                <td>Indicador</td>
                <td>Objetivo</td>
                <td>Resultado</td>
            </tr>
            <tr> 
                <td>Valor médio dos Serviços </td>
                <td>Identificando à média de valor, é possível direcionar melhor o marketing</td>
                <td>{{indica1[0].VALORMEDIO}}</td>
            </tr>
            <tr> 
                <td>Taxa de novos(as) diaristas mensal</td>
                <td>Ter controle do aumento ou diminuição de diaristas;</td>
                <td>{{indica2[0].DIARISTASMENSAIS}}</td>
            </tr>
            <tr> 
                <td>Percentual de pagamentos realizados pelo app</td>
                <td>Avaliar utilidade dos pagamentos no app</td>
                <td>{{indica3[0].TOTAL}}</td>
            </tr>
            <tr> 
                <td>Ticket médio</td>
                <td>Entender o perfil do nosso cliente</td>
                <td>{{indica4[0].TICKETMEDIO}}</td>
            </tr>
            <tr> 
                <td>Número de diaristas Ativas</td>
                <td>Verificar se as diaristas fecharam contratos/Medir Engajamento da plataforma;</td>
                <td>{{indica5[0].ATIVAS}}</td>
            </tr>
        </table>
    </div>
    </div>
</body>

</html>