<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/styles/main-login.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>

<body>

<div id="container">
<form id="loginform" action="/feedCliente" method="GET">
  
    <h1>Login</h1>
  <div class="campo">
    <label for="email">Email</label>
    <input type="email" id="email" name="email" required>
  </div>
  <div class="campo">
    <label for="password">Password</label>
    <input class=".input-block" type="password" id="password" name="password" required>
  </div>
  <button type="submit">Entrar</button>
</form>
<h3>Ainda não possui login?<a href="/register">Registre-se</a></h3>
</div>
<script>
  /*async function testaLogin(req, res) {
    const filters = req.query
    var emailLogin = document.getElementById('email').value
    var passLogin = document.getElementById('password').value
 


    const checalogin = `
    SELECT *
    FROM user
    
    `
        
    //CASO HAJA ERRO NA HORA DA CONSULTA DO BANCO DE DADOS
    try {
        const db = await Database

        const Servicos = await db.all(query)
        console.log(Servicos)

        return res.render('feedCliente.html', { Servicos, filters, weekdays })
            //return res.render('feedCliente.html')
    } catch (error) {
        console.log(error)
    }
}*/
</script>
</body>
</html>